/.idea/Entelect2020.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/out/
/outputs/
/.idea/shelf/Uncommitted_changes_before_Update_at_01_08_2020_08_43_[Default_Changelist]/shelved.patch
/.idea/uiDesigner.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_01_08_2020_08_43__Default_Changelist_.xml
